#quemJoga {
    display: flex;
    align-items: center; /* Alinhar verticalmente ao centro */
    font-size: 40px;
    font-family: sans-serif;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    position: relative;
    bottom: 30px;
}

#reload {
    font-size: large;
    color: rgb(0, 170, 85);
    background-color: black;
    cursor: pointer;
    border-style: groove;
    display: none;
    margin-top: -60px;
    margin-left: 10px;
    border: none;
    padding: 10px;
    border-radius: 5px;
   
}

#body {
    font-family: sans-serif;
}

#centro {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
}

#jogo {
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.space {
    width: 180px;
    height: 180px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    font-size: 150px;
    justify-content: center;
    font-family: cursive;
    color: darkgreen
}

#dv4,
#dv5,
#dv1,
#dv2 {
    border-bottom: 3px solid darkblue;
    border-right: 3px solid darkblue;
}

#dv6,
#dv3 {
    border-bottom: 3px solid darkblue;
}

#dv7,
#dv8 {
    border-right: 3px solid darkblue;
}